a.rss  {
    background-color: #ff8800;
    color: white;
    text-shadow: 1px 1px 1px #555555;
    font-size: 12px;
    position: absolute;
    right: 168px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
